body {
  background-color: rgba(245, 245, 245, 0.732);
  border: darkgoldenrod;
  
}

h1 {
  background-color: goldenrod;
  text-decoration: underline;
  text-align: center;
  color: white
}

h2 {
  background-color: goldenrod;
  text-align: center;
  color: white
}

.lightbulb {
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

img {
  border-radius: 25px;
  border-style: solid;
  border-color: goldenrod;
  margin-left: 370px;
  margin-top: auto;
  mix-blend-mode: multiply;
  height: 150px;
  width: 150px;
  align-items: center;
}


